<h3 style="
    margin-top: 50px;
">{{titulo}}</h3>

<hr/>


<div *ngIf="!productos">
	Cargando Productos
</div>


<div *ngIf="productos">


	<div class="row">
		<div class="col-lg-3" *ngFor="let producto of productos">

			<div class="thumbnail">

				<div *ngIf="producto.imagen" class="imagen-container">
             
             <img src="http://localhost/curso-angular4-backend/uploads/{{producto.imagen}}" class="producto_imagen" />

             </div>

             <div *ngIf="!producto.imagen">
                   <div class="imagen_relleno">
                   	
                   </div>

             </div>
             <div class="caption">

			<h3>{{producto.nombre}}</h3>
			<h3>${{producto.precio}}</h3>
			<p>
				<a [routerLink]="['/producto',producto.id]" class="btn btn-md btn-primary">Ver </a>
				<a href="#" class="btn btn-md btn-warning">Editar </a>
				<a href="#" class="btn btn-md btn-danger">Borrar </a>
			</p>

		</div>

	

		</div>
		</div>

	</div>

</div>